<div class="ui basic segment">
    {% if product.productStock is defined %}
        {{ include('@SyliusShop/partials/_product_status.html.twig', {
            'status': product.productStock.productStockStatus.name,
            'alias': product.productStock.productStockStatus.alias,
            'restockDate': product.productStock.restockDate
        }) }}
    {% endif %}

    <p>{{ product.shortDescription }}</p>
</div>
