{% set availableStatus = constant('App\\Entity\\Product\\ProductStockStatus::AVAILABLE') %}
{% set unavailableStatus = constant('App\\Entity\\Product\\ProductStockStatus::UNAVAILABLE') %}
{% set onHoldStatus = constant('App\\Entity\\Product\\ProductStockStatus::ON_HOLD') %}

{% set showRestockDate = false %}
{% if alias == availableStatus %}
    {% set labelClass = 'green' %}
{% elseif alias == unavailableStatus %}
    {% set labelClass = 'red' %}
{% elseif alias == onHoldStatus %}
    {% set labelClass = 'orange' %}
    {% set showRestockDate = true %}
{% endif %}

<p class="ui {{ labelClass }} label">
    {{ status }}

    {% if showRestockDate and restockDate is not empty %}
        - {{ restockDate | date('d.m.Y') }}
    {% endif %}
</p>
